html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ul, ol, li {
	list-style: none;
}
.container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 20px;

	display: flex;
	flex-direction: row;
	overflow: auto;
}
